extends common/layout

block content
    main
    .container
        section
        h2 How Dreamshare works?
        .infos
            .info-block.info-block_1
            p.info-block__label Step 1
            p.info-block__title Sed leo enim, condimentum
            p.info-block__description
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
            .info-block.info-block_2
            p.info-block__label Step 2
            p.info-block__title Morbi velit risus
            p.info-block__description
                | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
            .info-block.info-block_3
            p.info-block__label Step 3
            p.info-block__title Sed leo enim, condimentum
            p.info-block__description
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
        section
        h2 Meet a partner for your best holiday
        .partners
            .partner-block.partner-block_1
            .partner-block__avatar
            .partner-block__name Bradley Hunter
            .partner-block__bio
                | Based in Chicago. I love playing tennis and loud music.
            .partner-block.partner-block_2
            .partner-block__avatar
            .partner-block__name Marie Bennett
            .partner-block__bio
                | Currently living in Colorado. Lover of art, languages and travelling.
            .partner-block.partner-block_3
            .partner-block__avatar
            .partner-block__name Diana Wells
            .partner-block__bio
                | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
            .partner-block.partner-block_4
            .partner-block__avatar
            .partner-block__name Christopher Pierce
            .partner-block__bio
                | Star Wars fanatic. I have a persistent enthusiasm to create new things.
        button.partners__button See other partners
        section
        h2 Discover holiday activity ideas
        .activities
            .activity-block.activity-block_1
            .activity-block__title Sports and Activis
            .activity-block.activity-block_2
            .activity-block__title Wellness and Health
            .activity-block.activity-block_3
            .activity-block__title
                | Extreme Sports 
                br
                |  and Expeditions
            .activity-block.activity-block_4
            .activity-block__title Games
            .activity-block.activity-block_5
            .activity-block__title Culture and Education
            .activity-block.activity-block_6
            .activity-block__title Enjomet and Relaxation
            .activity-block.activity-block_7
            .activity-block__title Trevelling
        section
        h2 Crate your holiday activity
        .search
            form
            p.search__title Hi! What are your holiday interests?
            input.search__input(type='text' placeholder='Enter your insterests')
            button.search__button Search partners

