footer
  .container
    .footer-menu
      .logo DREAMSHARE
      .navigation
        h2 Company
        ul
          li About
          li Contact
          li Press
          li Blog
          li Terms and Privacy
          li Help
      .sponsors
        h2 Partners
    .copyright
      .copyright__text Designed by
      .copyright__logo
        img(src='./images/areto.png' alt='')