header
  .container
    nav
      .logo DREAMSHARE
      .authorization
        .authorization__log-in Log in
        .authorization__sign-up Sign up
    .promo
      .promo__logo DREAMSHARE
      p.promo__title
        | SHARE YOUR 
        br
        |  HOLIDAY DREAM
      p.promo__slogan And find the perfect partner to fullfill it
      button.promo__button Find your holiday partner